/* Aquí es desde donde se van cambiar todos los aspectos generales:
Colores
imágenes 
Algunos tamaños de letra


Esto son las variables de la web. Cambiando aquí el valor de una, la cambias de golpe para todas las pantallas.
Habrá cosas que retocar cosas a mano, pero no debería ser un problemón.
*/

@font-face {
  font-family: 'Star Wars';
  src: url('./Fuentes/StarJediRounded-jW3R.ttf') format('ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Star Wars Parrafo';
  src: url('./Fuentes/StarJediHollow-A4lL.ttf') format('ttf');
  font-style: normal;
  font-weight: normal;
}

/* Así es como se meten fuentes personalizadas. Le das el nombre de la variable, la ruta con el archivo y cómo tiene que ser */

@media all{
:root {

  /*Colores*/


  /* Esto son variables que os dejo por aquí. Estaban antes usadas en el CiS, y os las voy a dejar por aquí. Tenéis ejemplos */
  /* de uso más abajo. Aquí se define la variable y luego, para usarla, pones var(--color_barra) */
  --color_barra: #1C1C22;
  /* --transpa_inicio: #2C2C3899; */
  --degradado2:#234db84b;
  --degradado1:#eb212e;

  --traspa_seccion1:#48495cc8 ;
  --traspa_seccion2:#373843c8;
  --traspa_seccion3:#6e7189c8;

  --separadores_inferiores:#48495c;

/*Imágenes de fondo*/

/* Para poner rutas, se debe poner url(ruta/al/archivo)  */
  --img_fondo_principal:url(./Imagenes/fondo_estrellas.jpg);
  --img_seccion1: url(./Imagenes/Puente_flores.jpg);
  --img_seccion2: url(./Imagenes/Project_work2.jpg);
  --img_seccion3: url(./Imagenes/Juego_plaza_virgen.JPG);
}

/* Aquí se definen características globales, tanto para ordenador como para tablets y teléfonos. */
/* Solamente he puesto que para títulos, pero podríais añadir lo que quisiérais */

body, h1, h2, p, nav, div { /* Pongo a 0 los márgenes que el navegador pone por defecto*/
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5{
  font-family: 'Star Wars', sans-serif;
  color: #FAF7F6;
}

p, ul, li{
  color: #FAF7F6;
  font-family: 'Star Wars Parrafo', sans-serif;
  
}

nav{
  background-color: var(--color_barra);
}

}

@media only screen and (min-width:820px){
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /* Luego lo quitamos, todos tranquilos. La manera "cómoda" es un lío de código que luego tendríais que deshacer. Así está bien.  */
}

/*------------HEADER------------*/

/* -------------------BODY------------------- */

.prewelcome {
  background-image: url("./Imagenes/ValenciaGente.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.welcome_section h2{
  font-size:xx-large;
}

.pointless{
  margin:2%;
}

.welcome_section {
  background-color: #444554c1;
  background-image: radial-gradient(#242428 3px,transparent 3px);
  background-size: 40px 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.welcome_section div {
  padding-left: 3%;
  padding-right: 3%;
}

.welcome_section .welcome_imagenes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
  box-sizing: border-box;
}

.welcome_imagenes section{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 3%;
}

.welcome_imagenes img{
  width: 40vw;
  height: 50vh;
  border-right: 4px solid  white;
  border-bottom: 4px solid  white;
}
.fotos2 .join {
  margin:2%;
  display: flex;
  justify-content:end;
}


/*------------MORE ABOUT VALENCIA-------------*/

.separador_verde{
  height: 5px;
  background-color: rgb(248, 30, 15);
}
.more_section {
  background-image: url("./Imagenes/ValenciaStarWars.png");
  background-size: cover;
  width:100%;
  height: 80%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.transparencia{
  display: flex;
  flex-direction: column;
  padding: 0% 5% 0 5%;
  background: #4e4f66be;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}


.more_section .more_about_valencia {
  text-align:left;
  align-items: center;
  overflow: hidden;

}


.more_section .more_about_valencia h1{
  font-size: 350%;
  text-shadow: 3px 3px 9px #1f1f21af;
  padding-top: 3%;
  padding-left: 3%;
}

.transparencia p{
  margin-right: 0.5%;
}


.texto_val p{
  font-size: large;
}

.texto_val li{
  font-size: medium;
  padding: 0.5%;
}


.texto_more .texto_val {
  padding: 5%;
  display: flex;
  flex-direction: column;
  text-align: justify;
  /* width:70%; */
  height: auto;
  border-bottom: 5px solid #ffffff;
  border-right: 5px solid #ffffff;
  flex-grow: 1;
}

.lista_more{
  font-size: small;
}

/*----------CORE TEAM----------*/
.CT {
  background-image: linear-gradient(#18181d 40%, rgb(54, 51, 51));
  display: flex;
  flex-direction: column;
}
.CT .titulo_CT {
  color: transparent;
  -webkit-text-stroke: 1px #FAF7F6;
  font-size: 3em;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
}
.CT .CT_section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow-x: hidden;
}
.CT .CT_section .persona {
  background-color: #4e4f66;
  background-image: linear-gradient(to right bottom, #4a4a5e, #2f2f34);
  width: 20em;
  margin-bottom: 3em;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 20px;
  
}
.persona h1 {
  padding:2%;
}
.persona .foto_cargo {
  align-items: center;
}
.persona .foto_cargo img{
  width: 100%;
}

.descripcion p{
  font-size: large;
}

.CT .CT_section .persona .descripcion {
  text-align: justify;
  padding-top: 5%;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 5%;
}

}


@media only screen and (min-width:220px) and (max-width:560px){



.prewelcome {
  background-image: url("./Imagenes/ValenciaGente.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-repeat: no-repeat;
  
}
.welcome_section h2{
  font-size:xx-large;
}

.pointless{
  margin:1% 4% 0 4% ;
  text-align: center;
}

.welcome_section {
  background-color: #444554c1;
  background-image: radial-gradient(#242428 3px,transparent 3px);
  background-size: 40px 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.welcome_section .welcome_imagenes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
  box-sizing: border-box;
  flex-direction: column;
}

.welcome_imagenes section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.welcome_imagenes img{
  width: 300px;
  height: 12.5em;
  border-right: 4px solid  white;
  border-bottom: 4px solid  white;
  margin-top: 5%;
}
.fotos2 .join {
  margin: 4% 1% 4% 0;
  text-align: center;
  display: flex;
  justify-content:end;
}

.fotos2 .join h2{
  display: flex;
}





/*------------MORE ABOUT VALENCIA-------------*/

.separador_verde{
  height: 5px;
  background-color: rgb(248, 30, 15);
}
.more_section {
  background-image: url("./Imagenes/ValenciaStarWars.png");
  background-size: cover;
  width:100%;
  height: 80%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.transparencia{
  display: flex;
  flex-direction: column;
  padding: 0% 5% 0 5%;
  background: #4e4f66be;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}

.transparencia p{
  margin-right: 0.5%;
}

.more_section .more_about_valencia {
  text-align:left;
  align-items: center;

}


.more_section .more_about_valencia h1{
  font-size: 200%;
  text-shadow: 3px 3px 9px #1f1f21af;
  padding-top: 3%;
  padding-left: 3%;
}


.texto_val p {
  display: flex;
  font-size: 10px;
  margin-right: 2.5%;
} 

.texto_val li{
  font-size: 8px;
  margin-right: 2.5%;
}


.texto_more .texto_val {
  display: flex;
  flex-direction: column;
  text-align: justify;
  /* width:70%; */
  height: auto;
  border-bottom: 5px solid #ffffff;
  border-right: 5px solid #ffffff;
  flex-grow: 1;
}





/*----------CORE TEAM----------*/
.CT {
  background-image: linear-gradient(#18181d 40%, rgb(54, 51, 51));
  display: flex;
  flex-direction: column;
}
.CT .titulo_CT {
  color: transparent;
  -webkit-text-stroke: 1px #FAF7F6;
  font-size: 3em;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
}
.CT .CT_section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow-x: hidden;
}
.CT .CT_section .persona {
  background-color: #4e4f66;
  background-image: linear-gradient(to right bottom, #4a4a5e, #2f2f34);
  width: 12.5em;
  margin-bottom: 3em;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 20px;
  
}
.persona h1 {
  padding:2%;
}
.persona .foto_cargo {
  align-items: center;
}
.persona .foto_cargo img{
  width: 100%;
}
.CT .CT_section .persona .descripcion {
  text-align: justify;
  padding-top: 5%;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 5%;
}

.descripcion p{
  font-size: large;
}



}


@media only screen and (min-width:561px) and (max-width:819px){
  



  .prewelcome {
    background-image: url("./Imagenes/ValenciaGente.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
  }
  .welcome_section h2{
    font-size:x-large;
    display: flex;
  }
  
  .pointless{
    margin:1% 4% 0 4% ;
    text-align: center;
  }
  
  .welcome_section {
    background-color: #444554c1;
    background-image: radial-gradient(#242428 3px,transparent 3px);
    background-size: 40px 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .welcome_section .welcome_imagenes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
    box-sizing: border-box;
    flex-direction: column;
  }
  
  .welcome_imagenes section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
  }
  
  .welcome_imagenes img{
    width: 220px;
    height: 8em;
    border-right: 4px solid  white;
    border-bottom: 4px solid  white;
    margin-top: 5%;
    margin-bottom: 5%;
    
  }


  .fotos2{
    display: flex;
    justify-content: space-evenly;
  }
  .fotos2 .join {
    margin: 4% 1% 4% 0;
    text-align: center;
    display: flex;
    justify-content:end;
    width: 220;
  }
  
  

  
  /*------------MORE ABOUT VALENCIA-------------*/
  
  .separador_verde{
    height: 5px;
    background-color: rgb(248, 30, 15);
  }
  .more_section {
    background-image: url("./Imagenes/ValenciaStarWars.png");
    background-size: cover;
    width:100%;
    height: 80%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  
  .transparencia{
    display: flex;
    flex-direction: column;
    padding: 0% 5% 0 5%;
    background: #4e4f66be;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  
  
  .more_section .more_about_valencia {
    text-align:left;
    align-items: center;
  
  }
  

  .transparencia p{
    margin-right: 2.5%;
    font-size: 12px;
  }
  
.texto_val li{
  margin-right: 2.5%;
  font-size: 10px;
}

  .more_section .more_about_valencia h1{
    font-size: 200%;
    text-shadow: 3px 3px 9px #1f1f21af;
    padding-top: 3%;
    padding-left: 3%;
  }
  
  /* 
  .more_section .texto_more {
  
    width: 55%;
  } */
  
  
  .texto_more .texto_val {
    display: flex;
    flex-direction: column;
    text-align: justify;
    /* width:70%; */
    height: auto;
    border-bottom: 5px solid #ffffff;
    border-right: 5px solid #ffffff;
    flex-grow: 1;
  }
  


  
  
  /*----------CORE TEAM----------*/
  .CT {
    background-image: linear-gradient(#18181d 40%, rgb(54, 51, 51));
    display: flex;
    flex-direction: column;
  }
  .CT .titulo_CT {
    color: transparent;
    -webkit-text-stroke: 1px #FAF7F6;
    font-size: 3em;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
  }
  .CT .CT_section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow-x: hidden;
  }
  .CT .CT_section .persona {
    background-color: #4e4f66;
    background-image: linear-gradient(to right bottom, #4a4a5e, #2f2f34);
    width: 15em;
    margin-bottom: 3em;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
    
  }
  .persona h1 {
    padding:2%;
  }
  .persona .foto_cargo {
    align-items: center;
  }
  .persona .foto_cargo img{
    width: 100%;
  }
  .CT .CT_section .persona .descripcion {
    text-align: justify;
    padding-top: 5%;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 5%;
  }
  
  .descripcion p{
    font-size: large;
  }

  }




