/* Aquí es desde donde se van cambiar todos los aspectos generales:
Colores
imágenes 
Algunos tamaños de letra


Esto son las variables de la web. Cambiando aquí el valor de una, la cambias de golpe para todas las pantallas.
Habrá cosas que retocar cosas a mano, pero no debería ser un problemón.
*/

@font-face {
    font-family: 'Star Wars';
    src: url('Fuentes/StarJediRounded-jW3R.ttf') format('ttf');
    font-style: normal;
    font-weight: normal;
  }
  
  @font-face {
    font-family: 'Star Wars Parrafo';
    src: url('Fuentes/StarJediHollow-A4lL.ttf ') format('ttf');
    font-style: normal;
    font-weight: normal;
  }
  
  
  @media all{
  :root {
  
    /*Colores*/
    --color_barra: #1C1C22;
    /* --transpa_inicio: #2C2C3899; */
    --degradado2:#234db8d7;
    --degradado1:#eb212eb0;
  
    
  
  
    --traspa_seccion1:#48495cc8 ;
    --traspa_seccion2:#373843c8;
    --traspa_seccion3:#6e7189c8;
  
    --separadores_inferiores:#48495c;
  
  /*Imágenes de fondo*/
    --img_fondo_principal:url(./Imagenes/fondo_estrellas.jpg);
    --img_seccion1: url(./Imagenes/Puente_flores.jpg);
    --img_seccion2: url(./Imagenes/Project_work2.jpg);
    --img_seccion3: url(./Imagenes/Juego_plaza_virgen.JPG);
  }
  
  
  /* img:not(.slide img) {
    filter: drop-shadow(0px 0px 0px #cc6ce6a1);
  }
  
  /* Anula la sombra para las imágenes dentro de .slide 
  .slide img {
    filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0));
  } */
  
  h1,h2,h3,h4,h5{
    font-family: 'Star Wars', sans-serif;
    color: #FAF7F6;
  }
  
  p{
    color: #FAF7F6;
    font-family: 'Star Wars Parrafo', sans-serif;
  }
  
  .separador_sw{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 5px;
    /* background: linear-gradient(to bottom, #22BA1A  ,#6bb667,#b6d4b4,#6bb667  ,#22BA1A  );} */
    background: linear-gradient(to right,#234db8d1,#eb212ed1);
  }
  
    #separador_2{
      background: linear-gradient(to left,#234db8d1,#eb212ed1);
    }
    nav{
      background-color: var(--color_barra);
    }  
  
  }
  
  
  
  
  @media only screen and (min-width:820px){
  


  .degradado{
    display: flex;
    background: linear-gradient(to bottom, var(--degradado2),var(--degradado1));
    justify-content: center;

}


.recuadro{
    display: flex;
    background-color: #373843;
    width: 95%;
    margin-top: 3vh;
    margin-bottom: 5%;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
}

.cuadros2 img{
    width: 45%;
}

.cuadros {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5%;
}

.cuadros img{
    width: 28%;
    border-radius: 5px;
}

.cuadros2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5%;    
    
}

  
  }
  
  @media only screen and (min-width:220px) and (max-width:560px){
  


  .degradado{
    display: flex;
    background: linear-gradient(to bottom, var(--degradado2),var(--degradado1));
    justify-content: center;

}


.recuadro{
    display: flex;
    background-color: #373843;
    width: 95%;
    margin-bottom: 3vh;
    margin-top: 3vh;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
}


.cuadros {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 5%;
}

.cuadros img{
    width: 90%;
    border-radius: 5px;
    margin: 20 0 20 0;
}


  }
  
  @media only screen and (min-width:561px) and (max-width:819px){


    .degradado{
        display: flex;
        background: linear-gradient(to bottom, var(--degradado2),var(--degradado1));
        justify-content: center;
    
    }
    
    
    .recuadro{
        display: flex;
        background-color: #373843;
        width: 95%;
        margin-bottom: 3vh;
        margin-top: 3vh;
        align-self: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 20px;
    }
    
    
    .cuadros {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding: 5%;
    }
    
    .cuadros img{
        width: 90%;
        border-radius: 5px;
        margin: 20 0 20 0;
    }



  
    }
  
  
